#
# PowerBee Login configuration
#
reddit_config:
  client_id: 'Your ID Here'
  client_secret: 'Your Secret Here'
  user_agent: 'PowerBee subreddit comment export 0.3 '
  username: 'username'
  password: 'Password'

downloader_config:
  download_folder: 'output/Hive/Data'
